div.container {
  width: 100%;
  background-color: aquamarine;
  /* 
  Первый способ отменить схлопывание 
  */
  overflow: auto;
}
div.container > div {
  width: 200px;
  height: 200px;
  float: left;
}

#elem1 {
  background-color: crimson;
  float: left;
} 
#elem2 {
  background-color: greenyellow;
  float: left ;
}
#elem3 {
  background-color: yellow;
  float: left;
}