div {
  width: 200px;
  height: 200px;
}

#elem1 {
  background-color: crimson;
  float: left;
} 
#elem2 {
  background-color: greenyellow;
  float: right;
}
#elem3 {
  background-color: yellow;
  /* float: left; */
  width: 250px;
  height: 250px;
}