div {
  width: 100px;
  height: 100px;
  background-color: darkcyan;
  color: white;
  text-align: center;
  float: left;
  margin: 5px;
}

div:nth-child(3) {
  display: none;
}

div:nth-child(6) {
  visibility: hidden;
}